<%= form_for @ip_addr, html: {class: "form-horizontal"} do |f| %>
  <% if @ip_addr.errors.any? %>
      <div class="form-group">
        <div class="col-md-2"></div>
        <div class="col-md-10">
          <div id="error_explanation" class="panel panel-danger">
              <div class="panel-heading">
                <strong><%= pluralize(@ip_addr.errors.count, "error") %> prohibited this ip_addr from being
                  saved:</strong>
              </div>
              <ul class="list-group">
                <% @ip_addr.errors.full_messages.each do |message| %>
                    <li class="list-group-item"><%= message %></li>
                <% end %>
              </ul>
    </div>
    </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= f.submit "Update IP", class: "btn btn-primary" %>
      <%= link_to "Cancel", @subnet, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>
