<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @ip_addr.ip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ip_addr.description %>
</p>

<%= link_to 'Edit', edit_subnet_ip_addr_path(@subnet, @ip_addr) %> |
<%= link_to 'Back', @subnet %>
