
<%= form_for @subnet, html: {class: "form-horizontal"} do |f| %>
  <% if @subnet.errors.any? %>
    <div class="form-group">
      <div class="col-md-2"></div>
      <div class="col-md-10">
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <strong><%= pluralize(@subnet.errors.count, "error") %> prohibited this subnet from being saved:</strong>
      </div>
      <ul class="list-group">
      <% @subnet.errors.full_messages.each do |message| %>
        <li class="list-group-item"><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
    </div>
  <% end %>

  <% if ["new", "create"].include? action_name %>
    <div class="form-group">
      <%= f.label :subnet_addr, class: "col-md-2 control-label" %>
      <div class="col-md-2">
        <%= f.text_field :subnet_addr, class: "form-control" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :description, class: "col-md-2 control-label" %>
    <div class="col-md-10">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to "Cancel", subnets_path, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

