<p id="notice"><%= notice %></p>
<div class="row">
  <div class="page-header">
    <h1>Listing Subnets</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Subnet addr</th>
          <th>Description</th>
          <th>Updated at</th>
          <th nowrap>Assigned / Free</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @subnets.each do |subnet| %>
        <tr>
          <td><%= link_to subnet.subnet_addr, subnet %></td>
          <td><%= subnet.description %></td>
          <td nowrap><%= subnet.updated_at.localtime.strftime('%d/%m/%Y %H:%M:%S') %></td>
          <td><%= subnet.ip_addrs.assigned.count %> / <%= subnet.ip_addrs.unassigned.count %></td>
          <td>
            <%= link_to edit_subnet_path(subnet) do %>
                <span class="glyphicon glyphicon-pencil" area-hidden="true" title="Edit"></span>
            <% end %>
          </td>
          <td>
            <%= link_to subnet, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash" area-hidden="true" title="Delete"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-3"></div>
</div>
