<p id="notice"><%= notice %></p>

<p>
  <strong>Subnet addr:</strong>
  <%= @subnet.subnet_addr %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subnet.description %>
</p>

<% if @subnet.ip_addrs.any? %>
    <table>
      <thead>
      <tr>
        <th>IP Address</th>
        <th>Description</th>
        <th>Updated at</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
        <% @subnet.ip_addrs.each do |ip_addr| %>
          <tr>
            <td><%= ip_addr.ip %></td>
            <td><%= ip_addr.description %></td>
            <td><%= ip_addr.updated_at.localtime.strftime('%d/%m/%Y %H:%M:%S') %></td>
            <td><%= link_to 'Show', ip_addr %></td>
            <td><%= link_to 'Edit', edit_ip_addr_path(ip_addr) %></td>
            <td><%= link_to 'Free', ip_addr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>


<%= link_to 'Edit', edit_subnet_path(@subnet) %> |
<%= link_to 'Back', subnets_path %>
