<div class="row">
  <div class="page-header">
    <h1>User Details</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Name:</strong>
        <%= @user.name %>
      </li>
      <li class="list-group-item">
        <strong>Email:</strong>
        <%= @user.email %>
      </li>
      <li class="list-group-item">
        <strong>Role:</strong>
        <%= @user.role.name %>
      </li>
      <li class="list-group-item">
        <strong>Last sign in date:</strong>
        <%= @user.last_sign_in_date %>
      </li>
      <li class="list-group-item">
        <strong>Last sign in IP:</strong>
        <%= @user.last_sign_in_ip %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <%= link_to "Back", users_path, class: "btn btn-primary" %>
    <%= link_to "Edit", edit_user_path, class: "btn btn-warning" %>
    <%= link_to "Delete", @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>

<br>
<% if @user.history.any? %>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <table class="table table-hover table-condensed">
      <thead>
      <tr>
        <th>Date</th>
        <th>Object</th>
        <th>Obj name</th>
        <th>Action</th>
        <th>Old value</th>
        <th>New value</th>
        <th>Comment</th>
      </tr>
      </thead>
      <tbody>
        <% @user.history.each do |record| %>
          <tr>
            <td><%= record.created_at.localtime.strftime('%d/%m/%Y %H:%M:%S') %></td>
            <td><%= record.auditable_type %></td>
            <td><%= object_name_for_audits(record) %></td>
            <td><%= record.action %></td>
            <td><%= get_changes_for_audits(record.old_attributes) %></td>
            <td><%= get_changes_for_audits(record.new_attributes) %></td>
            <td><%= record.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>