<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><strong>SwToolz</strong></a>
    </div>

    <div class="navbar-inner">
        <div class="container">
          <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Subnets<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Index', subnets_path %></li>
                <li><%= link_to 'New Subnet', new_subnet_path %></li>
                <li role="separator" class="divider"></li>
                <% Subnet.all.each do |subnet| %>
                    <li><%= link_to subnet.subnet_addr, subnet %></li>
                <% end %>
              </ul>
            </li>
            <% if current_user.admin? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Users<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Index', users_path %></li>
                    <li><%= link_to 'New', new_user_path %></li>
                    <li role="separator" class="divider"></li>
                    <% User.all.each do |user| %>
                        <li><%= link_to user.name, user %></li>
                    <% end %>
                  </ul>
                </li>
                <li><%= link_to 'Roles', roles_path %></li>
            <% end %>
            <li><%= link_to 'Logs', logs_path %></li>
          </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to current_user.name, edit_user_registration_path %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path %></li>
              <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
