<%= form_for(@pppoe_server) do |f| %>
  <% if @pppoe_server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pppoe_server.errors.count, "error") %> prohibited this pppoe_server from being saved:</h2>

      <ul>
      <% @pppoe_server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :telnet_password %><br>
    <%= f.text_field :telnet_password %>
  </div>
  <div class="field">
    <%= f.label :snmp_password %><br>
    <%= f.text_field :snmp_password %>
  </div>
  <div class="field">
    <%= f.label :snmp_user %><br>
    <%= f.text_field :snmp_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
