<p id="notice"><%= notice %></p>

<h1>Listing Pppoe Servers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Telnet password</th>
      <th>Snmp password</th>
      <th>Snmp user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pppoe_servers.each do |pppoe_server| %>
      <tr>
        <td><%= pppoe_server.name %></td>
        <td><%= pppoe_server.description %></td>
        <td><%= pppoe_server.address %></td>
        <td><%= pppoe_server.telnet_password %></td>
        <td><%= pppoe_server.snmp_password %></td>
        <td><%= pppoe_server.snmp_user %></td>
        <td><%= link_to 'Show', pppoe_server %></td>
        <td><%= link_to 'Edit', edit_pppoe_server_path(pppoe_server) %></td>
        <td><%= link_to 'Destroy', pppoe_server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pppoe server', new_pppoe_server_path %>
