<div class="row">
  <div class="page-header">
    <h1>PPPoE Server Details</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Name:</strong>
        <%= @pppoe_server.name %>
      </li>
      <li class="list-group-item">
        <strong>Address:</strong>
        <%= @pppoe_server.address %>
      </li>
      <li class="list-group-item">
        <strong>Description:</strong>
        <%= @pppoe_server.description %>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <%= link_to "Back", pppoe_servers_path, class: "btn btn-primary" %>
    <% if can? :manage, @pppoe_server %>
        <%= link_to "Edit", edit_pppoe_server_path, class: "btn btn-warning" %>
        <%= link_to "Delete", @pppoe_server, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
